body {
  background-color: #eee;
}


.content {
  margin: 0 auto;
  min-width: 50em;
}

.content__heading {
  text-align: center;
}


.bingo-card {
  align-content: space-between;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 55em;
  height: 55em;
}


.bingo-card__cell {
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
  width: 10em;
  height: 10em;
}


.bingo-card__cell--active {
  background-color: #ccc;
}


.bingo-card__controls {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}


.bingo-card__controls__btn {
  background-color: white;
  font-size: 10pt;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0 1em;
}



footer {
  color: #aaa;
  font-size: 10pt;
  margin-top: 1em;
  width: 100%;
  text-align: center;
}


a {
  color: #aaa;
}


.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
